{% load mptt_tags %}
        {% recursetree menu_items %}
            {% if not node.is_leaf_node %}
                <li class="menu-item menu-item-has-children current-menu-item">
                    <a>{{ node.name }}</a>
                    <ul class="sub-menu">
                        {% for child in node.get_children %}
                            <li class="menu-item current-menu-item">
                                <a href="{{ child.get_absolute_url }}">{{ child }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% elif node.is_leaf_node %}
                <li class="menu-item">
                    <a href="{{ node.get_absolute_url }}">{{ node.name }}</a>
                </li>
            {% endif %}
        {% endrecursetree %}
            {% if request.user.is_authenticated %}
        {% endif %}



{#           <div class="site-nav mobile-menu-hide">#}
{#              <ul class="leven-classic-menu site-main-menu">#}
{#                <li class="menu-item menu-item-has-children current-menu-item">#}
{#                  <a href="index.html">About Me</a>#}
{#                  <ul class="sub-menu">#}
{#                    <li class="menu-item current-menu-item">#}
{#                      <a href="index.html">About Me 1</a>#}
{#                    </li>#}
{#                    <li class="menu-item">#}
{#                      <a href="index-2.html">About Me 2</a>#}
{#                    </li>#}
{#                  </ul>#}
{#                </li>#}
{##}
{#                <li class="menu-item">#}
{#                  <a href="resume.html">Resume</a>#}
{#                </li>#}
{##}
{#                <li class="menu-item menu-item-has-children">#}
{#                  <a href="blog.html">Blog</a>#}
{#                  <ul class="sub-menu">#}
{#                    <li class="menu-item">#}
{#                      <a href="blog.html">Blog 2 Columns</a>#}
{#                    </li>#}
{#                    <li class="menu-item">#}
{#                      <a href="blog-3-columns.html">Blog 3 Columns</a>#}
{#                    </li>#}
{#                  </ul>#}
{#                </li>#}
{##}
{#                <li class="menu-item">#}
{#                  <a href="contact.html">Contact</a>#}
{#                </li>#}
{#              </ul>#}
{#            </div>#}