{% extends 'base.html' %}
{% load static %}
{% block seo_title %}{{ post.seo_title }}{% endblock %}
{% block meta_description %}{{ post.seo_description }}{% endblock %}
{% block framed_title %}{% endblock %}
{% block single_post %}<div id="content" class="page-content site-content" role="main">{% endblock %}
{% block content %}


<div class="text-center">
    <h1 class="display-3">Ошибка 404</h1>
    <div class="nothing-found">
        <p>Такой страницы нет на сайте. Вернитесь <a class="text-dark" href="{% url 'home' %}">на главную</a>.</p>
    </div>

</div>

{% endblock %}