{% extends 'base.html' %}
{% load static %}
{% block category_title %}
    <div class="page-title">
        <h1>{{ tg.title }}</h1>
        <div class="page-subtitle">
            <nav aria-label="breadcrumb">
                <ol class="nav">
                    <li class="breadcrumb-item"><a class="text-secondary" href="/">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ tg.menu_title }}</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% for post in posts %}
        {{ post.title }}
        <a href="{{ post.get_absolute_url }}">Читать!</a>
    {% endfor %}

{% endblock %}