{% extends 'base.html' %}
{% load static %}
{% block seo_title %}{{ tg.seo_title }}{% endblock %}
{% block meta_description %}{{ tg.seo_description }}{% endblock %}
{% block framed_title %}
    <div class="page-title">
        <h1>{{ tg.title }}</h1>
        <div class="page-subtitle">
            <nav aria-label="breadcrumb">
                <ol class="nav">
                    <li class="breadcrumb-item"><a class="text-secondary" href="/">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ tg.menu_title }}</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class=" col-xs-12 col-sm-12 ">

            <div class="blog-masonry two-columns clearfix">
                <!-- Blog Post  -->
                {% for post in posts %}

                    <div class="item">
                        <div class="blog-card">
                            <div class="media-block">
                                <div class="category">
                                    <a href="{{ post.category.get_absolute_url }}" title="Посмотреть все посты по категории {{ post.category.menu_title }}">{{ post.category.menu_title }}</a>
                                </div>
                                <a href="{{ post.get_absolute_url }}">
                                    <img src="{{ post.image.url }}" alt="{{ post.seo_description }}" title="{{ post.seo_title }}" />
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <div class="post-info">
                                <div class="post-date">{{ post.created_at|date:'d.m.Y' }}</div>
                                <a href="{{ post.get_absolute_url }}">
                                    <h2 class="blog-item-title">{{ post.title }}</h2>
                                    <p class="mt-2" >{{ post.intro_text }}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- End of Blog Post  -->
            </div>
        {% if page_obj.has_other_pages %}
            <div class="pagination-area text-uppercase wow fadeInUp animated">
                <div class="pagination-area-inner">
                    <ul class="pagination justify-content-start">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary" tabindex="-1">Назад</a>
                            </li>
                        {% endif %}
                        {% for page_num in page_obj.paginator.page_range %}

                            {% if page_obj.number == page_num %}
                                <li class="page-item active" aria-current="page">
                                    <a href="?page={{ page_num }}" class="btn btn-secondary">{{ page_num }}
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                            {% elif page_num > page_obj.number|add:-3 and page_num < page_obj.number|add:3 %}
                                <li class="page-item">
                                    <a href="?page={{ page_num}}" class="btn btn-secondary">{{ page_num }}</a>
                                </li>

                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary">Вперед</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}

        </div>
    </div>

{% endblock %}