{% extends 'base.html' %}
{% load static %}
{% block seo_title %}{{ post.seo_title }}{% endblock %}
{% block meta_description %}{{ post.seo_description }}{% endblock %}
{% block framed_title %}

{% endblock %}
{% block single_post %}<div id="content" class="page-content site-content" role="main">{% endblock %}
{% block content %}
    <article class="post">

        <header class="entry-header">

            <div class="entry-meta entry-meta-top">
                <nav aria-label="breadcrumb">
                    <ol class="nav">
                        <li class="breadcrumb-item"><a class="text-secondary" href="/">kuskovan</a></li>
                        <li class="breadcrumb-item"><a class="text-secondary" href="{{ post.category.get_absolute_url }}">{{ post.category|lower }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ post.title|lower }}</li>
                    </ol>
                </nav>
            </div><!-- .entry-meta -->

            <h1 class="entry-title">{{ post.title }}</h1>
        </header><!-- .entry-header -->

        <div class="post-thumbnail">
            <img src="{{ post.image.url }}" alt=""  />
        </div>

        <div class="post-content">
            <div class="entry-content">

                <div class="row">
                    <div class=" col-xs-12 col-sm-12 ">

                        {{ post.content|safe }}

                    </div>
                </div>

            </div><!-- .entry-content -->

            <div class="entry-meta entry-meta-bottom">
                <div class="date-author">

                        <span class="entry-date">

                            <i class="far fa-clock"></i>
                            <time class="entry-date" datetime="{{ post.created_at|date:'Y-m-d' }}">{{ post.created_at|date:'d.m.Y' }}</time>

                        </span>

                    <span class="author vcard">
                          <a class="url fn n" href="{% url 'page' 'about' %}" rel="author">
                            <i class="fas fa-user"></i>
                            <span> Kuskovan</span>
                          </a>
                        </span>
                </div>

                <!-- Share Buttons -->
                <div class="entry-share btn-group share-buttons">
                    <a class="social-icon facebook-icon text-xs-center color-white" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" class="btn" target="_blank" title="Поделиться на Facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://kuskovan.ru{{ request.get_full_path|urlencode }}&title={{post.title}}"><i class="fab fa-facebook-f"></i></a>
                    <a class="social-icon vk-icon text-xs-center color-white" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" class="btn" target="_blank" title="Поделиться в Контакте" href="https://vk.com/share.php?url=https://kuskovan.ru{{ request.get_full_path|urlencode }}&title={{post.title}}&image={{ post.image }}&text={{ post.intro_text }}"><i class="fab fa-vk"></i></a>
                    <a class="social-icon telegram-icon text-xs-center color-white" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" class="btn" target="_blank" title="Поделиться в Телеграме" href="https://telegram.me/share/url?url=https://kuskovan.ru{{ request.get_full_path|urlencode }}&text={{ post.intro_text }}"><i class="fab fa-telegram-plane "></i></a>
                </div>
                <!-- /Share Buttons -->
            </div>

            <div class="post-tags">
                      <span class="tags">
                          {% for tag in post.tags.all %}
                              <a href="{{ tag.get_absolute_url }}" rel="tag">{{ tag }}</a>
                          {% endfor %}
                      </span>
            </div>
        </div>
    </article>
    <!-- Comments -->
     {% if request.user.is_authenticated %}
        <div id="comments" class="comments-area">
            <div id="respond" class="comment-respond">
                <h3 id="reply-title" class="comment-reply-title">Прокомментировать</h3>
                <form action="" method="post" id="commentform" class="comment-form" novalidate="">
                    <div class="form-group form-group-with-icon comment-form-message">
                        <textarea id="comment" class="form-control" name="comment" placeholder="Your Comment" cols="45" rows="8" aria-required="true"></textarea>
                        <div class="form-control-border"></div>
                            <i class="form-control-icon fa fa-comment"></i>
                    </div>
                    <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Оставить комментарий"> <input type="hidden" name="comment_post_ID" value="136" id="comment_post_ID">
                        <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                    </p>
                </form>
            </div>
        </div>
     {% else %}
            <div class="form-group text-center">
                <a href="#" target="_blank" class="btn btn-primary"><h5>Зарегистрироваться, чтобы оставить комментарий</h5></a>
            </div>
    {% endif %}
    <!-- END comments -->
    <!-- Testimonial Content -->
    {% for comment in post.comments.all %}
        {% if comment.moderated %}
        <div class="testimonial-item">
                        <!-- Testimonial Content -->
                        <div class="testimonial-content">
                          <!-- Picture -->
                          <div class="testimonial-picture">
                            <img src="{% static 'theme/img/author.jpg' %}" alt="{{ comment.author }}">
                          </div>
                          <!-- /Picture -->

                          <!-- Testimonial Text -->
                          <div class="testimonial-text">
                             <p>{{ comment.content|safe }}</p>
                          </div>
                          <!-- /Testimonial Text -->

                          <!-- Testimonial author information -->
                          <div class="testimonial-author-info">
                            <h5 class="testimonial-author">{{ comment.author }}</h5>
                            <p class="testimonial-firm">{{ comment.created_at|date:'d.m.Y' }}</p>
                          </div>
                          <!-- /Testimonial author information -->

                          <div class="testimonial-icon">
                            <i class="fa fa-quote-left"></i>
                          </div>

                           <div class="testimonial-icon-big">
                            <i class="fa fa-quote-right"></i>
                          </div>
                        </div>
                        <!-- /Testimonial Content -->
                      </div>
    {% endif %}
    {% endfor %}
{% endblock %}