{% extends 'base.html' %}
{% load static %}
{% block seo_title %}{{ post.seo_title }}{% endblock %}
{% block meta_description %}{{ post.seo_description }}{% endblock %}
{% block framed_title %}
    <div class="page-title">
        <h1>Регистрация</h1>
        <div class="page-subtitle">
            <nav aria-label="breadcrumb">
                <ol class="nav">
                    <li class="breadcrumb-item"><a class="text-secondary" href="/">Kuskovan</a></li>
                    <li class="breadcrumb-item active" aria-current="page">регистрация</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5 text-center mt-30">
            <h2>Заполните форму</h2>
        </div>
    </div>

    <div class="row justify-content-center mt-15">
        <div class="col-md-5">

            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </form>
            <hr>
            <div class="text-center">
                <p class="text-muted text-center">Уже есть аккаунт? <a href="{% url 'login' %}" class="primary-color">Войдите под своей учетной записью</a></p>
            </div>
        </div>
    </div>
{% endblock %}