                   {% load static %}
                    <div class="block-title">
                      <h2>С чем приходилось работать</h2>
                    </div>

                    <div id="clients_1" class="clients owl-carousel" data-mobile-items="1" data-tablet-items="3" data-items="6">
                      <div class="client-block">
                          <img src="{% static 'theme/./img/clients/modx.png' %}" alt="Golden Grid">
                      </div>

                      <div class="client-block">
                          <img src="{% static 'theme/./img/clients/framework_django.png' %}" alt="Sweety">
                      </div>

                      <div class="client-block">
                          <img src="{% static 'theme/./img/clients/bootstrap.png' %}" alt="Magic Furnitures">
                      </div>

                      <div class="client-block">
                          <img src="{% static 'theme/./img/clients/pandas.png' %}" alt="LifeGuard">
                      </div>

                      <div class="client-block">
                          <img src="{% static 'theme/./img/clients/vue.png' %}" alt="LESS">
                      </div>

                      <div class="client-block">
                          <img src="{% static 'theme/./img/clients/wordpress.png' %}" alt="Design Lovers">
                      </div>

                      <div class="client-block">
                          <img src="{% static 'theme/./img/clients/jquery.png' %}" alt="WordPress">
                      </div>
                    </div>