<footer class="site-footer clearfix">
          <div class="footer-social">
            <ul class="footer-social-links">
              <li>
                <a href="https://vk.com/andreykuskov" target="_blank">Vkontakte</a>
              </li>

              <li>
                <a href="https://www.facebook.com/kuskovs" target="_blank">Facebook</a>
              </li>

              <li>
                <a href="https://t.me/kuskovan" target="_blank">Telegram</a>
              </li>
            </ul>
          </div>

          <div class="footer-copyrights">
            <p>© 2019-{% now 'Y' %}, Kuskovan | Копирование контента с сайта разрешено только с согласия автора.</p>
          </div>
        </footer>