                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <div class="block-title">
                      <h2>Мини-достижения</h2>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-3">
                    <div class="lm-info-block gray-default">
                      <i class="linecons linecons-fire"></i>
                      <h4>Вывел сайтов из-под фильтров</h4>
                      <span class="lm-info-block-value">5</span>
                      <span class="lm-info-block-text"></span>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-3">
                    <div class="lm-info-block gray-default">
                      <i class="linecons linecons-user"></i>
                      <h4>Работал с сайтами с суточной посещаемостью</h4>
                      <span class="lm-info-block-value">22,100</span>
                      <span class="lm-info-block-text"></span>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-3 ">
                    <div class="lm-info-block gray-default">
                      <i class="linecons linecons-shop"></i>
                      <h4>Разработал с нуля коммерческих сайтов</h4>
                      <span class="lm-info-block-value">8</span>
                      <span class="lm-info-block-text"></span>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-3 ">
                    <div class="lm-info-block gray-default">
                      <i class="linecons linecons-study"></i>
                      <h4>Прошел курсов по программированию</h4>
                      <span class="lm-info-block-value">15</span>
                      <span class="lm-info-block-text"></span>
                    </div>
                  </div>
                </div>