<div class="row">
    <div class=" col-xs-12 col-sm-12 ">
        <div class="block-title">
            <h2>Стоимость моих услуг</h2>
        </div>
    </div>

</div>

<div class="row">
    <div class=" col-xs-12 col-sm-12 ">
        <div class="fw-pricing clearfix row">

            <div class="fw-package-wrap col-md-4 highlight-col">
                <div class="fw-package">
                    <div class="fw-heading-row">
                        <span>SEO</span>
                    </div>

                    <div class="fw-pricing-row">
                        <span>от 1200 ₽</span>
                        <small>за 1 час</small>
                    </div>

                    <div class="fw-button-row">
                        <a href="{% url 'contacts' %}" target="_self" class="btn btn-primary">Заказать</a>
                    </div>

                    <div class="fw-default-row">Консультации</div>
                    <div class="fw-default-row">Технический аудит</div>
                    <div class="fw-default-row">Поиск точек роста</div>
                </div>
            </div>

            <div class="fw-package-wrap col-md-4 highlight-col ">
                <div class="fw-package">
                    <div class="fw-heading-row">
                        <span>Веб-разработка</span>
                    </div>

                    <div class="fw-pricing-row">
                        <span>от 1000 ₽</span>
                        <small>за 1 час</small>
                    </div>

                    <div class="fw-button-row">
                        <a href="{% url 'contacts' %}" target="_self" class="btn btn-primary">Заказать</a>
                    </div>

                    <div class="fw-default-row">Язык программирования: python</div>
                    <div class="fw-default-row">Бэкенд: django </div>
                    <div class="fw-default-row">Фронтенд: bootstrap, vue</div>
                </div>
            </div>

            <div class="fw-package-wrap col-md-4 highlight-col ">
                <div class="fw-package">
                    <div class="fw-heading-row">
                        <span>Веб-аналитика</span>
                    </div>

                    <div class="fw-pricing-row">
                        <span>от 1100 ₽</span>
                        <small>за 1 час</small>
                    </div>

                    <div class="fw-button-row">
                        <a href="{% url 'contacts' %}" target="_self" class="btn btn-primary">Заказать</a>
                    </div>

                    <div class="fw-default-row">Установка и настройка счетчиков</div>
                    <div class="fw-default-row">Настройка целей и событий</div>
                    <div class="fw-default-row">Визуализация данных</div>
                </div>
            </div>
        </div>
    </div>