                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <div class="p-50"></div>

                    <div class="block-title">
                      <h2>Чем могу быть полезен</h2>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <div class="info-list-w-icon">
                      <div class="info-block-w-icon">
                        <div class="ci-icon">
                          <i class="linecons linecons-world"></i>
                        </div>

                        <div class="ci-text">
                          <h4>Консультации по SEO</h4>
                          <p>Консультирую по внутренней оптимизации сайтов: провожу технические аудиты, анализирую структуру
сайтов, полноту семантического ядра, корректность настроек счетчиков веб-аналитики и т.д.</p>
                        </div>
                      </div>

                      <div class="info-block-w-icon">
                        <div class="ci-icon">
                          <i class="linecons linecons-display"></i>
                        </div>

                        <div class="ci-text">
                          <h4>Разработка скриптов на Python</h4>
                          <p>Пишу простые скрипты на Python для автоматизации отчетности. Работаю с API различных сервисов:
Serpstat, Я.Метрика, Google Analytics, Mailchimp и др.</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6">
                    <div class="info-list-w-icon">

                      <div class="info-block-w-icon">
                        <div class="ci-icon">
                          <i class="linecons linecons-params"></i>
                        </div>

                        <div class="ci-text">
                          <h4>Веб-аналитика</h4>
                          <p>Настраиваю счетчики веб-аналитики (Google Analytics, Я.Метрика), а также события и цели через Google Tag Manager. Выстраиваю визуализации отчетов в Google Data Studio и Power BI.  </p>
                        </div>
                      </div>

                      <div class="info-block-w-icon">
                        <div class="ci-icon">
                          <i class="linecons linecons-megaphone"></i>
                        </div>

                        <div class="ci-text">
                          <h4>Веб-разработка сайтов</h4>
                          <p>Разрабатываю сайты услуг на фреймворке Django 3. В качестве front-end использую Bootstrap 4.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>