{% extends 'base.html' %}
{% load static %}
{% block seo_title %}Ввод нового пароля{% endblock %}
{% block meta_description %}Форма для ввода нового пароля для своей учетной записи{% endblock %}
{% block framed_title %}
    <div class="page-title">
        <h1>Ввод нового пароля</h1>
        <div class="page-subtitle">
            <nav aria-label="breadcrumb">
                <ol class="nav">
                    <li class="breadcrumb-item"><a class="text-secondary" href="/">Kuskovan</a></li>
                    <li class="breadcrumb-item active" aria-current="page">ввод нового пароля</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="row justify-content-center mt-5">
        <div class="col-md-5 text-center mt-60">
            <h2>Введите новый пароль</h2>
        </div>
    </div>

    <div class="row justify-content-center mt-15">
        <div class="col-md-5">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
        </div>
    </div>
{% endblock %}