{% extends 'base.html' %}
{% load static %}
{% block seo_title %}Запрос на смену пароля отправлен{% endblock %}
{% block meta_description %}Запрос на смену пароля отправлен на почту{% endblock %}
{% block framed_title %}
    <div class="page-title">
        <h1>Запрос на смену пароля отправлен</h1>
        <div class="page-subtitle">
            <nav aria-label="breadcrumb">
                <ol class="nav">
                    <li class="breadcrumb-item"><a class="text-secondary" href="/">Kuskovan</a></li>
                    <li class="breadcrumb-item active" aria-current="page">смена пароля</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="row justify-content-center mt-5">
        <div class="col-md-5 text-center mt-60">
            <h3>Следуйте высланным на вашу почту инструкциям!</h3>
        </div>
    </div>
{% endblock %}