{% extends 'base.html' %}
{% load static %}
{% block seo_title %}Сброс пароля осуществлен{% endblock %}
{% block meta_description %}Вы можете залогиниться под новым паролем{% endblock %}
{% block framed_title %}
    <div class="page-title">
        <h1>Пароль успешно сброшен</h1>
        <div class="page-subtitle">
            <nav aria-label="breadcrumb">
                <ol class="nav">
                    <li class="breadcrumb-item"><a class="text-secondary" href="/">Kuskovan</a></li>
                    <li class="breadcrumb-item active" aria-current="page">пароль сброшен</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="row justify-content-center mt-5">
        <div class="col-md-5 text-center mt-60">
            <a class="btn btn-primary btn-lg btn-block" href="{% url 'login' %}">Войти на сайт с новым паролем</a>
        </div>
    </div>
{% endblock %}